<div class="card rounded-0">
    <nav class="navbar navbar-expand-lg sticky-top navShadow">
      <div class="container">
        <div class="d-flex justify-content-between w-100">
          <a class="navbar-brand fs-5 mt-2 fw-bolder">Where in the World?</a>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <div class="langContainer ms-auto">
              <ul class="navbar-nav navbar-navSm p-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle cr" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{"navbar.Lang" |translate}}
                  </a>
                  <ul class="dropdown-menu">
                    <li class="cr" (click)="Change('en')" [class.bg-info]="_TranslateService.currentLang=='en'"><a class="dropdown-item">{{'navbar.EN' |translate}}</a></li>
                    <li class="cr" (click)="Change('ar')" [class.bg-info]="_TranslateService.currentLang=='ar'"><a class="dropdown-item">{{'navbar.AR' |translate}}</a></li>
                  </ul>
        
                </li>
              </ul>
            </div>
            <div class="navbar-brand ms-2 cr">
              @if (darkModeService.darkModeSignal()==='dark') {
                <span (click)="toggleDarkMode()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="47" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                      <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                    </svg>
                  <span class="DarkMode"> Dark Mode</span>
                </span>
              }@else {
                <span (click)="toggleDarkMode()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="47" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
                  </svg>
                 <span class="DarkMode"> Dark Mode</span>
                </span>
              }
            </div>
          </div>
        </div>
      </div>
    </nav>
</div>


