<section class="details card rounded-0">
<div class="p-5">
    <button class="btn bg-body-tertiary px-3" [routerLink]="['']" routerLinkActive="router-link-active" ><i class="fa-solid fa-arrow-left me-2"></i>back</button>
</div>
<div class="row mx-5 gy-5">
    <div class="col-md-6">
        <div class="imgContainer">
            <img [src]="country.image" [alt]="country.name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="my-4">
                    <h5 class="card-title fw-bold">{{country.name}}</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="countryDetails">
                    <h5 class=""><span class="card-title fw-bold">Native Name: </span> <span class="text-muted">{{country.name}}</span></h5>
                    <h5 class=""><span class="card-title fw-bold">population: </span> <span class="text-muted">{{country.population}}</span></h5>
                    <h5 class=""><span class="card-title fw-bold">region: </span> <span class="text-muted">{{country.region}}</span></h5>
                    <h5 class=""><span class="card-title fw-bold">Sub region: </span> <span class="text-muted">{{country.subRegion}}</span></h5>
                    <h5 class=""><span class="card-title fw-bold">capital: </span> <span class="text-muted">{{country.capital}}</span></h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="countryDetails">
                    <h5 class=""><span class="card-title fw-bold">Top Level Domain:</span> 
                        @for (topLevelDomain of country.topLevelDomain; track $index) {
                            <span class="text-muted"> {{topLevelDomain}}</span>
                        }
                    </h5>
                    <h5 class=""><span class="card-title fw-bold">Currencies:</span> 
                        @for (currencies of country.currencies; track $index) {
                            <span class="text-muted"> {{currencies}}</span>
                        }
                    </h5>
                    <h5 class=""><span class="card-title fw-bold">Languages:</span> 
                        @for (languages of country.languages; track $index) {
                            <span class="text-muted"> {{languages}}</span>
                        }
                    </h5>
                </div>
            </div>
            <div class="col-md-13">
                <h5 class=""><span class="card-title fw-bold">Dorder Countries:</span>
                    @for (borderCountries of country.borderCountries; track $index) {
                        <button class=" m-1 btn bg-body-secondary border"> {{borderCountries}}</button>
                    }
                </h5> 
            </div>
        </div>
</div>


</div>
</section>

