.imgContainer img{
    width: 90%;
    height: 18.75rem;
}
.details{
    min-height: 87.6vh !important;
}
@media (max-width: 768px) {
    .imgContainer img{
        width: 100%;
        height: 10.75rem;
    }
  }